<div class = "container bg">

  <div class = "row">
    <div class = "center col-sm-12">
      <h1>Nom on da Boigah App</h1>
      <p></p>
    </div>
  </div>

<div class = "row">

  <div class="col-sm-6">

    <h2>Available Burgers</h2>

    <ul>
      {{#each burgers}}
      {{#unless this.devoured}}

      <li>
        <span class="burgerName"><strong>{{this.id}} - {{this.burger.name}}</strong></span>
        <form class="form-inline" id="formID" action="{{this.id}}" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button class="devourburger btn" type="submit">Nom It</button>
        </form>
      </li>
        {{/unless}}
        {{/each}}

    </ul>
  </div>
</div>
<div class="col-sm-6">
			<h2>Nom'd Burgers</h2>
			{{#each burgers}}
			{{#if devoured}}

			<li>
				<span class="burgerName"><strong>{{this.id}} - {{this.burger_name}} </strong></span>
				<button type="button" class="trashburger btn" id="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span
					 class="trash"></span>Toss it up breh</button>
			</li>

			{{/if}}
			{{/each}}

		</div>
	</div>

	<div class="row">
		<div class="center col-sm-12">
			<form class="create-update-form" action="/" method="POST">
				<div class="form-group">
					<p class="instructions">Enter a burger you want to order and click the Submit Order button.</p>
					<input type="search" id="ca" name="burger_name" placeholder="Your order...">
				</div>
				<button class="submitburger btn" type="submit">Submit Order</button>
			</form>
		</div>
	</div>

</div>